* {
  color: white;
  text-align: center;
}
body {
  background: url(bgdices.jpg);
  background-size: 100%;
}
.guessbox {
  height: 50px;
  width: 50px;
  border: 1px dotted white;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
}
.guessline {
  font-size: 30px;
}
button {
  color: black;
  height: 70px;
  width: 120px;
  font-weight: 800;
  font-size: 23px;
  border-radius: 20px;
  background: rgb(204, 214, 237);
  background: radial-gradient(
    circle,
    rgba(204, 214, 237, 1) 31%,
    rgba(33, 59, 60, 1) 93%
  );
}
input {
  height: 44px;
  width: 40px;
  background: none;
  border: none;
  font-size: 40px;
  color: inherit;
}
span {
  text-transform: uppercase;
}
div {
  display: block;
}

/* The alert message box */
.alert {
  color: white;
  display: none;
  border-radius: 25px;
  cursor: cell;
  position: absolute;
  top: 3%;
  height: 50%;
  left: 10%;
  width: 80%;
  margin: 0px 0px !important;
  padding: 20vh 0px;
  font-size: 200%;
  font-weight: 900;
}
.show {
  display: block;
  background: rgb(32, 80, 190);
  background: linear-gradient(
    180deg,
    rgba(32, 80, 190, 1) 25%,
    rgba(70, 189, 51, 1) 83%
  );
}
.showlose {
  display: block;
  background: rgb(244, 5, 5);
  background: linear-gradient(
    121deg,
    rgba(244, 5, 5, 1) 32%,
    rgba(121, 9, 49, 1) 69%
  );
}
